body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    padding-left: 30px;
    padding-right: 30px;
}

#etch-a-sketch {
    background-color: red;
    margin: auto; 
    margin-top: 10%; 
    padding: 30px; 
    padding-bottom: 60px;
    border-radius: 5%;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 300px;
    grid-gap: 1px;
    background-color: black;
    border-style: double;
    border-width: 2px;
}

.grid-square {
    padding: 1px 0px;
    border: 4px;
    border-color: black;
}

#dials-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#dial-left, #dial-right{
    background-color: gray;
    border-radius: 50%;
    width:60px;
    height: 60px;
    text-align: center;
    font-size: 1.8rem;
}

#dial-left {
    transform: rotate(270deg);
}

#dial-right {
    transform: rotate(90deg);
}

#product-label {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2rem;
}

#slider-container{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    border-radius: 5px;
  }

#slider:hover {
    opacity: 1;
}

#color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, -2px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(0deg); }
  }